<?xml version="1.0" encoding="UTF-8"?>
<config>
    <jabber_connection>
	<host>somehost.somedomain</host>
	<component>logger.somehost.somedomain</component>
	<secret>abcdefghijklmnop</secret>
	<port>5526</port>
    </jabber_connection>
    <database_connection>
    	<host>localhost</host>
	<driver>mysql</driver>
	<name>jubjub</name>
	<user>jubjub</user>
	<passwd>~j~u~b~j~u~b</passwd>
    </database_connection>
    <processors>
	<processor type="message">JubJub::Message</processor>
	<processor type="presence">JubJub::Presence</processor>
    </processors>
    <service>
	<pid_file>/var/run/jubjub/jubjub.pid</pid_file>
	<error_log>/var/log/jubjub/error_log</error_log>
    </service>
</config>
